{% extends "html-wrapper.njk" %}

{% block content %}

    {% include "header.njk" %}

    <div class="content-wrapper">
        <div class="content prose font-serif flex flex-col justify-center items-center min-h-screen mx-auto text-center">
            {{ content | safe }}
        </div>
    </div>

    {% include "footer.njk" %}

{% endblock %}
