{% extends "html-wrapper.njk" %}

{% block content %}

    {% include "header.njk" %}

    <div class="content-wrapper">
        <div class="content prose font-serif">
            {{ content | safe }}
        </div>
    </div>

    {% include "footer.njk" %}

{% endblock %}
