<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% if title %}{{ title }} - {% endif %}Hopsa Berlin</title>
        <link rel="stylesheet" href="/styles.css">
        <link rel="shortcut icon" type="image/x-icon" href="/media/favicon/favicon_transparent_bigger.ico">
        <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.1.2/dist/tailwind.min.css" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700&family=Roboto:wght@400;700&display=swap" rel="stylesheet">
        
        <!-- Open Graph / Facebook -->
        <meta property="og:type" content="website">
        <meta property="og:url" content="hopsa-berlin.de">
        <meta property="og:title" content="Hopsa: Improtheatergruppe aus Berlin">
        <meta property="og:description" content="Offizielle Website der Improtheatergruppe Hopsa aus Berlin">
        <meta property="og:image" content="/media/favicon/favicon.jpg">

        <!-- Theme Color for Chrome, Firefox OS and Opera -->
        <meta name="theme-color" content="#1a1111">

        <link rel="stylesheet" href="/styles/tailwind.css">
        <link rel="stylesheet" href="/styles/default.css">
    </head>
    <body>

        {% block content %}
            <!-- Child templates will inject content here -->
        {% endblock %}

</body>
</html>
