<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="refresh" content="0;url={{ redirect.to }}" />
  <script type="text/javascript">
    window.location.href = "{{ redirect.to }}";
  </script>
  <title>Hopsa Berlin Improtheater</title>
    <link rel="stylesheet" href="/styles/tailwind.css">
    <link rel="stylesheet" href="/styles/default.css">
</head>
<body>
  Wenn du nicht automatisch weitergehopst wirst, klicke bitte auf <a href="{{ redirect.to }}"><u><b>diesen Link</b></u></a>.
</body>
</html>
